html {
    font-size: 10px;
    font-family: 'Shadows Into Light', cursive;
    background-color: rgb(255, 230, 75);
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: rgb(255, 230, 75);
    text-shadow: 8px 8px 20px black;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

li {
    color: rgb(255, 230, 75);
}

a {
    color: black;
}

a:hover {
    color: rgb(255, 230, 75);
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: rgb(190, 117, 117);
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    /*border-radius: 50px;*/
}

img {
    display: block;
    margin: 0 auto;
    width: 600px;
    height: 350px;
    border-radius: 50px;
    box-shadow: 5px 5px 20px black;
    cursor: pointer;
}

button {
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
    display: block;
    margin: auto;
    font-size: 16px;
    font-family: 'Shadows Into Light', cursive;
    text-transform: uppercase;
    padding: 5px 5px 5px 5px;
    box-shadow: 5px 5px 20px black;
    background-color: rgb(255, 230, 75);
}

button:hover {
    background-color: rgb(255, 255, 255);
}